<form method="post" action="/houses">
<center>
<label for="house-name">House Name:</label>
<input id="house-name" type="text" name="house_name"/>
<br>
<label for="house-bio">House bio</label>
<input id="house-bio" type="text" name="bio"/>
<br/>
<label for="logo-url">Please add a URL for the house's logo:</label>
<input id="logo-url" type="text" name="url_address" />

<hr/>
 <br/>

 <input type="submit" value="Add House"/>
 </center>
</form>
